.DS_Store
node_modules
/dist

/node_modules/

# vscode path recognize
jsconfig.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.cache
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*